@charset "utf-8";
/* CSS Document */
/*For desktop design*/

.clearfloat{
	font-size: 0px;
	margin:0px;
	padding: 0px;
	clear:both;
	float: none;
	height: 0px;
	width: 0px;
	border: 0px none;
	line-height: 0px;
}

* {
	margin: 0px auto;
	padding: 0px;
	max-width: 1020px;
}

body {
	/*background: url(../img/click-flick/curtain-background-image.jpg);*/
}

.dheader{
	height: 150px;
	background: url(../img/click-flick/clapper-header-image.jpg);
	background-repeat:no-repeat;
}

.desktop, #skipnav {
	background-color: #000000;
	width: 100%;
}

h1 {
	float: left;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #ffffff; 
	font-size: 50px;
	margin: 20px 0px 0px 30px;
}

span {
	color: #EC0404;
}

h2 {
	float: left;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #ffffff;
	font-size: 22px;
	margin: 90px 0px 0px -225px;
}

#skip {
	float: left;
	background-color: #cc0303;
	padding: 15px 40px 10px 40px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 18px;
	color: white;
	margin: 30px 0px 0px 500px;
}

#skip:hover, #skip:focus {
	background-color: #880202;
}

nav {
	width: 100%;
	height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul li {
  float: left;
}

ul li a, .dropbtn {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 60px 15px 60px;
  text-decoration: none;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  font-size: 20px;
}

ul li a:focus, ul li a:hover {
	background-color: #cc0303;
}

ul li a:focus, .dropdown:focus .dropbtn, ul li a:hover, .dropdown:hover .dropbtn {
	color: #FFFFFF;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 220px;
}

.dropdown-content a {
  color: #FFFFFF;
  padding: 9px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  font-size: 19px;
}

.dropdown-content a:hover, .dropdown-content a:focus {
	background-color: #cc0303;
	color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
  display: inline;
}

.dropdown:focus .dropdown-content {
  display: inline;
}

img {
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}

.searchbutton {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #ffffff;
	font-size: 20px;
	margin-left: 50px;
}

form.example input[type=text] {
  padding: 10px 0px 10px 0px;
  font-size: 18px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-left: 50px;
}

form.example button {
  float: left;
  width: 10%;
  padding: 10px 0px 10px 0px;
  background: #cc0303;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #880202;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.mainheading {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #FFFFFF;
	font-size: 45px;
	float: left;
	width: 100%;
	text-align: center;
}

.leftcolumn {
	margin: 0px;
	float: left;
	width: 50%;
	height: auto;
}

.rightcolumn {
	float: left;
	width: 50%;
	height: auto;
}

.container {
  position: relative;
  width: 100%;
}

.categories {
  display: block;
  width: 100%;
  height: 100%;
}

h4 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 35px;
	color: #ffffff;
	text-align: center;
}

#button2 {
	float: left;
	background-color: #cc0303;
	padding: 15px 40px 10px 40px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 18px;
	color: white;
	margin: 300px 0px 0px 0px;
	text-decoration: none;
}

#button2:hover, #button2:focus {
	background-color: #880202;
}


h5 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	margin-bottom: 15px;
}

.review {
	background-color: #000000;
	padding-bottom: 40px;
}

.dforum {
	margin: 20px 0px 20px 0px;
	background-color: #880202;
}

.forums {
	width: 30%;
	height: auto;
	float: left;
	margin: 0px 10px 0px 20px;
}

.forum {
	float: left;
}

.forumtext {
	float: left;
	color: #ffffff;
	text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	margin: 15px 0px 0px 15px;
}

table {
	border: solid 1px;
	float: left;
	margin: 30px 0px 30px 5px;
	width: 100%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

caption {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 40px;
	color: #ffffff;
	margin-bottom: 20px;;
}

table a {
	color: #EC0404;
}

table a:hover, table a:focus  {
	text-decoration: underline;
	color: #880202;
}

th {
	background-color: #000000;
	color: #ffffff;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	text-align: center;
}

td {
	background-color: #ffffff;
	color: #3d3d3d;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	text-align: center;
}

.dfooter {
	background-color: #000000;
}

#button1 {
	float: left;
	background-color: #cc0303;
	padding: 15px 40px 10px 40px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 18px;
	color: white;
	margin: 45px 0px 0px 40px;
	text-decoration: none;
}

#button1:hover, #button1:focus {
	background-color: #880202;
}

#social {
	float: left;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	color: white;
	margin: 30px 0px 0px 40px;
}

.dfooter h2 {
	float: left;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #ffffff; 
	font-size: 50px;
	margin: 20px 0px 0px 30px;
}

.dfooter h3 {
	float: left;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #ffffff;
	font-size: 22px;
	margin: 90px 0px 0px -225px;
}

#fb-root {
	float: left;
}

.fb-like {
	float: left;
	margin: 70px 0px 0px -90px;
}

.twitter-follow-button {
	margin: 110px 0px 0px -380px;
}

#backtotop {
	float: left;
	background-color: #cc0303;
	padding: 15px 40px 10px 40px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 18px;
	color: white;
	margin: 50px 0px 0px 100px;
}

#backtotop:hover, #backtotop:focus {
	background-color: #880202;
}

.error {
	font-size: 45px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	padding: 30px 0px 20px 0px;
	color: #ffffff;
	width: 100%;
	text-align: center;
	float: left;
}

.oops {
	float: left;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
	color: #ffffff;
	padding: 20px 0px 40px 0px;
	width: 100%;
	text-align: center;
}

.seo {
	font-size: 45px;
	padding: 30px 0px 20px 30px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #ffffff;
}

.findable {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 30px;
	color: #EC0404;
	float: left;
	margin-left: 30px;
}

.practice {
	float: left;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
	color: #ffffff;
	padding: 20px 0px 40px 30px;
	max-width: 980px;
}

.taxonomy {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 25px;
	color: #ffffff;
	float: left;
	margin-left: 30px;
}

h6 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	color: #ffffff;
	float: left;
	margin-left: 30px;
}

ol {
	list-style-type: lower-roman;
	color: #ffffff;
	float: left;
	margin: 0px 0px 0px 80px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 18px;
	padding: 0px;
}
dl {
	float: left;
	margin-left: 30px;
}

dt {
	color: #EC0404;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 25px;
	width: 100%;
}

dd {
	color: #ffffff;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	padding-bottom: 20px;
	width: 100%;
}

.resources li {
	float: none;
}

.resources li a {
	text-decoration: underline;
	color: #ffffff;
	margin: 0px;
	padding: 0px 0px 20px 0px;
	width: 100%;
}

.resources li a:visited {
	color: #ffffff;
}

.resources li a:hover, .resources li a:focus {
	border: none;
	background-color: #000000;
	color: #EC0404;
}

.link {
	color: #EC0404;
}

.link:visited {
	color: #ffffff;
}

.link:hover, .link:focus {
	text-decoration: underline;
}

.unfortunate {
	text-decoration: none;
	color: #EC0404;
}

a {
	text-decoration: none;
}

.review p {
	float: left;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
	color: #ffffff;
	margin: 20px;
}

.read {
	float: left;
	background-color: #880202;
	padding: 10px 60px 10px 60px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	color: #ffffff;
	margin: 30px 0px 0px 400px;
	text-decoration: none;
}

.read:focus, .read:hover {
	background-color: #ffffff;
	color: #000000;
}

.watch {
	float: left;
	background-color: #880202;
	padding: 10px 60px 10px 60px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	color: #ffffff;
	margin: 30px 0px 0px 375px;
	text-decoration: none;
}

.watch:focus, .watch:hover {
	background-color: #ffffff;
	color: #000000;
}

#cc {
	width: 10%;
	float: left;
	margin: 10px 0px 0px 30px;
}

#license {
	float: left;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px;
	color: #ffffff;
	margin: 10px 0px 0px 10px;
}

#creativecommons {
	color: #EC0404;
}

#creativecommons:hover {
	color: #ffffff;
	text-decoration: underline;
}

#prezi {
	width: 100%;
	height: 600px;
}

/* MDB
*/

figure.photo {
text-align: center;  
position: relative;
  overflow: hidden;
/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  color: #ffffff;
*/
}

figure.photo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/*figure.photo img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}*/

figure.photo figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.photo h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.photo h2 span {
  font-weight: 800;
}

/*figure.photo:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}*/

/*figure.photo a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}*/

/*figure.photo.red {
  background: #581a14;
}

figure.photo.red h2 {
  background: #36100c;
}*/

figure.photo:hover img,
figure.photo.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.photo:hover h2,
figure.photo.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.photo:hover:before,
figure.photo.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

/*@media screen and (max-width: 1020px){
	.dheader, nav, .desktop, .dfooter, #button1, .details {
		display: none;
	}	
}
